# We need at least version 121 on Chrome and FF to be able
# to use a common manifest.
# https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/background#browser_support
chrome >= 121
edge >= 121
ff >= 121
safari >= 15.4
