{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:react/recommended",
		"prettier"
	],
	"env": {
		"browser": true,
		"webextensions": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions":  {
		"ecmaVersion":  2018,
		"sourceType":  "module",
		"ecmaFeatures":  {
			"jsx":  true
		}
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"node": {
				"extensions": [".js", ".ts", ".tsx"]
			},
			"typescript": {
				"alwaysTryTypes": true,
				"project": "."
			}
		}
	},
	"rules": {
		"jsx-a11y/label-has-associated-control": ["error", {
			"labelAttributes": ["title"]
		}]
	}
}
