:root,
:host {
	--font-size-base: 13px;
	--line-height-base: 1.5;
	--font-size-xxlarge: 1.313rem;
	--line-height-xxlarge: calc(
		var(--line-height-base) / var(--font-size-xxlarge)
	);
	--font-size-xlarge: 1.0625rem;
	--line-height-xlarge: calc(
		var(--line-height-base) / var(--font-size-xlarge)
	);
	--font-size-large: 0.9375rem;
	--line-height-large: calc(var(--line-height-base) / var(--font-size-large));
	--font-size-regular: 0.8125rem;
	--line-height-regular: calc(
		var(--line-height-base) / var(--font-size-regular)
	);
	--font-size-small: 0.688rem;
	--line-height-small: calc(var(--line-height-base) / var(--font-size-small));
	--app-gutter: 0.5lh;
	--font-title: 'Avenir', 'Georgia', 'DejaVu Serif', 'Norasi', serif;
	--font-body: 'Arial', 'Helvetica', 'Liberation Sans', 'FreeSans', sans-serif;
	--font-mono: monospace;
	--color-black: #111;
	--color-white: #fff;
	--color-sand: #f5f5f5;
	--color-gray: #888;
	--color-gray-light: #eee;
	--color-gray-dark: #555;
	--color-blue: #2868c9;
	--color-blue-light: #4c93ff;
	--color-blue-lighter: #e9f2ff;
	--color-blue-dark: #0c397c;
	--color-blue-dark-text: var(--color-white);
	--color-orange: #e6a420;
	--color-orange-text: #222;
	--color-red: firebrick;
	--color-green: green;
	--color-highlight: color-mix(in srgb, yellow 30%, transparent);
	--color-theme: var(--color-blue);
	--color-theme-text: var(--color-white);
	--color-theme-dark: var(--color-blue-dark);
	--color-theme-dark-text: var(--color-blue-dark-text);
	--color-theme-gradient: linear-gradient(
		135deg,
		#453796 0%,
		#1560a0 50%,
		#3fb9b1 100%
	);
	--color-accent: orange;
	--color-accent-text: var(--color-black);
	--color-accent-darker: color-mix(in srgb, orange, black 7%);
	--color-accent-contrast: #7c570e;
	--max-z-index: 2147483647;

	/* @see https://schemist.fglt.fr?preset=1@a@6728x5a,4500,6728x59,9a02,6728x5b,bc04,6728x5a,de06,6x1128x5a,fx1028a8,!0122313579@clr,,color,2868c9,inf,Info,ctr,On%20$,amount,pos,Success,wrn,Warning,neg,Error,s,neutral,on%20neutral */
	--color-success: #437c32;
	--color-on-success: #d2fcc7;
	--color-warning: #985c14;
	--color-on-warning: #feeee0;
	--color-error: #be2d40;
	--color-on-error: #feeaea;
	--color-neutral: #666d77;
	--color-on-neutral: #eef0f2;
}
