html {
	height: 100vh;
	background: var(--color-theme-gradient);
	color: var(--color-white);
	font-size: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: transparent;
}

h1 {
	margin: 50vw 0 25vw;
	line-height: 1;
	font-weight: bolder;
}

span {
	display: block;
	font-size: 2.5rem;
}

span + span {
	font-size: 4rem;
}
