:host {
	position: fixed;
	inset: 0 0 0 auto;
	z-index: 999999;
}

.Minimap {
	width: clamp(10px, 2vw, 40px);
	height: 100%;
	background: color-mix(in srgb, #0c397c 10%, transparent);
	transition: background ease-out 150ms;

	&:hover {
		background: color-mix(in srgb, #0c397c 15%, transparent);
	}

	/**
	 *	A layer under the minimap that inverts its background
	 *	to ensure the upper layer has enough contrast.
	 */
	&::before {
		content: '';
		position: absolute;
		inset: 0;
		backdrop-filter: invert(1);
		opacity: 0.05;
		z-index: -1;
	}

	/* A border made with the same technique as above. */
	&::after {
		content: '';
		width: 1px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -1px;
		backdrop-filter: invert(1);
		opacity: 0.1;
		z-index: -1;
	}
}

.Minimap-window {
	--window-offset-ratio: 0;
	--window-size-ratio: 0;

	position: absolute;
	top: calc(100% * var(--window-offset-ratio));
	width: 100%;
	height: calc(100% * var(--window-size-ratio));
	backdrop-filter: invert(1);
	opacity: 0.1;
	z-index: -1;
}

.Minimap-pins {
	--window-pin-color: #7c570e;
	--page-pin-color: orange;

	width: 100%;
	height: 100%;
	opacity: 0.8;
}
