.EnabledTests {
	border-top: 1px solid var(--color-gutter-light);
	background: var(--color-toolbar);
	color: var(--color-on-toolbar);
}

.EnabledTests-testList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5ch;
	padding: 0 var(--app-gutter) 0.5lh var(--app-gutter);
}

.EnabledTests-disableButton {
	&:hover,
	&:focus {
		text-decoration: line-through;
	}
}
