.Page {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: auto;
	background: var(--color-white);
}

.Page-body {
	flex: 1;
	overflow: auto;
	padding: 0.5lh;
}

.Page--help img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid var(--color-gray);
	box-shadow: 0 0 10px var(--color-gray);
}
