.Test {
	display: grid;
	grid-template:
		'header tools' min-content
		'body tools' 1fr
		/ 1fr var(--app-toolbar-size);

	&.is-applied {
		background: var(--color-blue-lighter);
	}
}

.Test-header {
	grid-area: header;
	padding: 0.25lh var(--app-gutter);
}

.Test-header a {
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active {
		text-decoration: underline;
	}
}

.Test-id,
.Test-description,
.Test-description p {
	display: inline;
}

.Test-id {
	font-weight: bold;

	&::after {
		content: ' - ';
		display: inline;
		font-weight: normal;
	}
}

.Test-title ul {
	list-style-type: disc;
	padding-left: 1lh;
}

.Test-tools {
	grid-area: tools;
	display: flex;
	flex-direction: column;
	gap: 0.25rlh;
	border-left: 1px solid var(--color-gutter-light);
	padding: 0.25rlh 0.5ch;
}

.Test-toggle {
	flex-grow: 1;
}

.Test-toggleArea {
	display: block;
	height: 100%;
	cursor: pointer;
}

.Test-toggleButton {
	display: block;
	border-radius: 5px;
	padding: 0.25lh 1ch;
	background: color-mix(in srgb, var(--color-accent), transparent 80%);
	color: var(--color-accent-text);
	text-align: center;
}

.Test-toggleArea:is(:hover, :focus) .Test-toggleButton {
	background: var(--color-accent-darker);
}

input:checked + .Test-toggleArea .Test-toggleButton {
	background: var(--color-accent);
	color: var(--color-accent-text);
}

.Test-toggleIcon--off {
	display: none;
}

input:checked + .Test-toggleArea .Test-toggleButton {
	.Test-toggleIcon--on {
		display: none;
	}

	.Test-toggleIcon--off {
		display: inline-block;
	}
}

.Test-body {
	grid-area: body;
}
