.ThemesList {
	position: relative;
}

.ThemesList-list {
	display: none;
	position: absolute;
	top: calc(100% + 0.25lh);
	right: -2ch;
	width: clamp(20ch, 90vw, 40ch);
	background: var(--color-white);
	border: 2px solid var(--color-theme);
	border-top: 0;
	box-shadow: 0 5px 5px 0 rgb(0 0 0 / 60%);
	z-index: 10;

	&.is-open {
		display: block;
	}
}

.ThemesList-title {
	flex-shrink: 0;
	padding: 0;
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.ThemesList-toggleIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1em;
	height: 1em;
}

.ThemesList-link {
	display: block;
	padding: 0.25lh var(--app-gutter);
	background: var(--color-white) none no-repeat 0.6rem 50%;
	background-size: 24px;
	border-top: 1px solid color-mix(in srgb, var(--color-sand), black 30%);
	text-decoration: underline;
}

.ThemesList-item + .ThemesList-item .ThemesList-link {
	border-top: 0;
}

.ThemesList-itemIcon {
	margin-right: var(--app-gutter);
	width: 1.2em;
	height: 1.2em;
	vertical-align: -0.3em;
}

.ThemesList-item:last-child .ThemesList-link {
	border-bottom: 0;
}
