.Theme {
	background: var(--color-white);

	code {
		padding: 0 2px;
		border-radius: 2px;
		background: #ffeaea;
		word-wrap: break-word;
		box-decoration-break: clone;
	}
}

.Theme-header {
	position: sticky;
	top: 0;
	z-index: 5;
}
